{% extends 'base.html.twig' %}

{% block title %}

{% endblock title %}

{% block body %}

    <ul>
        <li>{{ board_game.id }} {{ board_game.name }}</li>
        <li>A partir de : {{ board_game.ageGroup }}</li>
        <li>{{ board_game.description }}</li>
        <li>Sortie le : {{ board_game.releasedAt|date('d/m/Y') }}</li>
    </ul>

    <p><a href="{{ path('board_game_index') }}">Retour à la liste de jeux</a></p>

{% endblock body %}



